/* General */
* {
  margin: 0;
}

body {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h2,
h3 {
  font-family: "Racing Sans One", sans-serif;
  color: #c10f0f;
}

ul,
li {
  display: inline;
}

span {
  font-family: "PT Sans Narrow", sans-serif;
}

img {
  width: 100%;
}

table {
  border-spacing: 50px 0px;
}

.goldColor {
  color: #ffb900;
}

.currentPage {
  color: #c10f0f;
}

/* Start Navbar */
.navbar {
  padding: 30px;
  background-color: #151515;
  display: block;
  position: relative;
}

.navbar h3 {
  display: inline;
}

.navbar div {
  position: relative;
  width: 90%;
  margin: auto;
}

.ul-container {
  position: absolute;
  right: 0;
  top: -6px;
}

.ul-container li {
  margin-right: 20px;
}

.navbar img {
  width: 25px;
  position: relative;
  bottom: -6px;
}

.loginBtn {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 5px 30px;
  background-color: #c10f0f;
  border: 0;
  color: white;
  border-radius: 10px;
}
/* End Navbar*/

/* Start Big Poster Section */
.bigPoster {
  position: relative;
}

.coverText {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.coverText div {
  max-width: 800px; 
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.coverText img {
  width: 25px;
  position: relative;
  top: 4px;
}

.watchNowBtn {
  color: white;
  background-color: #c10f0f;
  border: 0;
  padding: 10px;
  margin-right: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* End Big Poster Section */

/* Start Movies & Series Section */
.features {
  padding: 30px;
  position: relative;
}
.features h2 {
  padding-left: 50px;
  margin-bottom: 30px;
}

.features > p {
  color: #ffb900;
  position: absolute;
  right: 80px;
  bottom: -10px;
}

.card {
  background-color: #151515;
}

.card > div {
  padding: 10px;
}

.card p {
  margin: 12px 0px;
  font-size: 17px;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.ratings img {
  width: 20px;
  position: relative;
}
.star{
  top: 3px;
}

.premium{
  top:0px;
}

.coverBtn {
  width: 130px;
  margin: auto;
}

.watchListBtn {
  width: 99%;
  margin: auto;
  position: relative;
}

.watchListBtn button {
  border: 1px solid white;
  border-radius: 5px;
  color: #ffb900;
  background-color: transparent;
  padding: 7px 20px 7px 35px;
  font-size: 15px;
}

.watchListBtn span {
  font-size: 38px;
  position: absolute;
  top: -11px;
  left: 18px;
}
/* End Movies & Series Section */

/* Start Quotes Section */
.quotes h2 {
  text-align: center;
  margin: 30px;
  padding-top: 20px;
}

.quotes > div {
  position: relative;
}

.quotesText {
  max-width: 420px;
  position: absolute;
  top: 100px;
  right: 50px;
}

.quotesText p {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 35px;
}

.quotesText span {
  font-size: 22px;
  color: #ffb900;
  font-weight: 900;
  margin-left: 200px;
}
/* End Quotes Section */

/* Start Footer */
.footer {
  margin-top: 80px;
  padding: 50px 80px;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
}

.footer span {
  display: block;
  margin: 3px 10px;
}

.footer img {
  max-width: 33px;
  margin: 20px 12px;
}

.navigation{
  font-family: "PT Sans Narrow", sans-serif;
}

.movieAddict {
  width: 40%;
}

.movieAddict p {
  margin-top: 10px;
}

.socials {
  text-align: center;
}
/* End Footer */
